@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b5e20;
    background-image: url('./images/brick-wall.png');
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Indie Flower', cursive; */
}
